.frame7{

  display: flex;
  width: 442px;
  height: 1024px;
  justify-content: center;
  align-items: center;
  margin: 0;
  transform: translateX(600px);
}

.frame5 {

  display: flex;
  width: 410px;
  height: 408px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  position: fixed;
  top: 130px;
}

.Top {
  position: fixed;
  top: 0;
}

.TopID {
  position: absolute;
  top: 0;
}


.text {
  color: #4CAF50;
  font-family: SUITE;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  position: absolute;
  left: 25px;
  position: absolute;
  top: 200px;
}



.button {
  display: flex;
  width: 410px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 800px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-black, #000);
  text-align: center;
  font-family: SUITE;
  font-size: 16px;
  font-style: normal;

}

.search {
  position: relative;
  top: -350px;
}

.searchIcon {
  position: absolute;
  left: 375px;
  position: absolute;
  top: 20px;
}

.search02 {
  display: flex;
  width: 410px;
  height: 55px;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-family: SUITE;
  font-size: 16px;
  font-style: normal;
  border-radius: 8px;
}


body {
  background-image: url(./image/back.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}